[Unit]
Description=thinklock i3lock wrapper
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPost=-/bin/sleep 1
ExecStart=/home/gxg/bin/thinklock mute

[Install]
WantedBy=suspend.target

# https://bbs.archlinux.org/viewtopic.php?pid=1170536#p1170536

# vim: set ft=systemd tw=0 ts=2 sw=2 sts=2 fdm=marker fmr={{{,}}} et:
